{% extends 'base.html' %}

{% block title %}Flask Blog{% endblock %}

{% block content %}

<main>
    <h2>Blogs</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ url_for('view_post', post_id=post.id) }}" class="btn boxes btn-block">{{ post.title }}</a>
                    </h5>
                    <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger btn-block">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Add a link/button to create a new post -->
    <a href="{{ url_for('new_post') }}" class="btn btn-primary">Create New Post</a>
</main>

{% endblock %}
